*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
body img{
    max-width: 100%;
}
header{
    padding: 0 10%;
    background: #1f2937;
}
header h1{
    color: #f9faf8;
    font-size: 24px;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
nav ul{
    display: flex;
    gap: 12px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #e5e7eb;
}

.hero{
    display: flex;
    padding: 50px 0;
}
.hero .text-hero{
    margin-right: 30px;
    width: 50%;
}
.hero .img-hero{
    width: 50%;
    display: flex;
}
.img-hero img{
    align-self: center;
}
.hero h2{
    color: #f9faf8;
    font-size: 40px;
    margin-bottom: 16px;
}
.hero p{
    color: #e5e7eb;
    margin-bottom: 16px;
}
.hero button{
    color: #e5e7eb;
    background: #3882f6;
    padding: 8px 15px;
    border: 1px #3882f6;
    border-radius: 6px;
    font-weight: 700;
}