*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
body img{
    max-width: 100%;
}
header{
    padding: 0 10%;
    background: #1f2937;
}
header h1{
    color: #f9faf8;
    font-size: 24px;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
nav ul{
    display: flex;
    gap: 12px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #e5e7eb;
}

.hero{
    display: flex;
    padding: 50px 0;
}
.hero .text-hero{
    margin-right: 30px;
    width: 50%;
}
.hero .img-hero{
    width: 50%;
    display: flex;
}
.img-hero img{
    align-self: center;
}
.hero h2{
    color: #f9faf8;
    font-size: 40px;
    margin-bottom: 16px;
}
.hero p{
    color: #e5e7eb;
    margin-bottom: 16px;
}
.hero button{
    color: #e5e7eb;
    background: #3882f6;
    padding: 8px 15px;
    border: 1px #3882f6;
    border-radius: 6px;
    font-weight: 700;
}

main .information{
    padding: 5% 10%;
}
.information h2{
    text-align: center;
    margin-bottom: 50px;
    color: #1f2937;
    font-size: 32px;
}
.information .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.information .cards .card{
    width: 250px;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.3s;
    cursor: pointer;
}
.card img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 4px;
    border-top-right-radius: 5px;

}
.card p{
    padding: 15px;
    text-align: center;
}

.quote{
    background: #e5e7eb;
    padding: 15%;
}
.quote p:first-child{
    font: italic lighter 26px Arial, sans-serif;
    margin-bottom: 9px;
    color: #1f2937;
}
.quote p:last-child{
    text-align: right;
    font-weight: bold;
}

.call-action{
    padding: 5% 10%;
}
.call-action .blue-area{
    background: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 5% 7%;
    border-radius: 6px;
    color: #e5e7eb;
}
.blue-area p{
    font-size: 11pt;
}
.blue-area button{
    color: #e5e7eb;
    background: #3882f6;
    padding: 8px 15px;
    border: 2px solid #e5e7eb;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}
.blue-area button:hover{
    color: #3882f6;
    background: #fff;
}